.navbar {
  position: sticky;
  top: 0;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 80px;

  background: rgba(5, 10, 25, 0.85);
  backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #60a5fa;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links span {
  color: #cbd5f5;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.nav-links span:hover {
  color: white;
  transform: translateY(-2px);
}

.nav-links span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg,#60a5fa,#818cf8);
  transition: 0.3s;
}

.nav-links span:hover::after {
  width: 100%;
}

.active {
  color: #60a5fa;
}

.active::after {
  width: 100%;
}

.cta-btn {
  padding: 10px 24px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(135deg,#3b82f6,#6366f1);
  color: white;

  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(59,130,246,0.4);
}